<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samoy.chuanbillserver.dao.BillMapper">
    <select id="selectMonthlyStats" resultType="java.math.BigDecimal">
        SELECT
            SUM(amount) as total_amount
        FROM t_bill
        WHERE user_id = #{userId}
            AND time &gt;= #{startTime}
            AND time &lt;= #{endTime}
            AND deleted = 0
            AND type = #{type}
        <if test="familyId != null">
            AND family_id = #{familyId}
        </if>
    </select>

    <select id="selectCategoryStats" resultType="com.samoy.chuanbillserver.vo.CategoryStatisticsVO">
        SELECT
            b.category_id AS categoryId,
            c.name AS categoryName,
            c.icon AS categoryIcon,
            SUM(b.amount) AS amount
        FROM t_bill b
        LEFT JOIN t_category c ON b.category_id = c.id
        WHERE b.user_id = #{userId}
            AND b.time &gt;= #{startTime}
            AND b.time &lt;= #{endTime}
            AND b.deleted = 0
            AND b.type = #{type}
            AND b.category_id IS NOT NULL
        <if test="familyId != null">
            AND b.family_id = #{familyId}
        </if>
        GROUP BY b.category_id, c.name, c.icon
        ORDER BY amount DESC
    </select>

    <select id="selectDailyTrend" resultType="com.samoy.chuanbillserver.vo.DailyTrendVO">
      SELECT
      DATE_FORMAT(time, '%Y-%m-%d') AS date,
      SUM(IF(type = 'expense', amount, 0)) AS expense,
      SUM(IF(type = 'income', amount, 0)) AS income
      FROM t_bill
      WHERE user_id = #{userId}
      AND time &gt;= #{startTime}
      AND time &lt;= #{endTime}
      AND deleted = 0
      <if test="familyId != null">
            AND family_id = #{familyId}
        </if>
      GROUP BY DATE(time)
      ORDER BY DATE(time)
    </select>
</mapper>
